body {
    color: #f7f7f7;
}
.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 120% 120%;
    text-align: center;
}
.ul, .li {
    font-family: inherit;
    }